# .gitignore
refData/codes/automatic_prompt/.DS_Store
refData/codes/.DS_Store
refData/.DS_Store
.DS_Store
docs/.DS_Store
.DS_Store
.DS_Store
.DS_Store
__pycache__/
/libs/KnowledgeManageHandler/__pycache__
.DS_Store
libs/.DS_Store
.DS_Store
libs/.DS_Store
data/.DS_Store
data/raw/.DS_Store
.DS_Store
data/raw/.DS_Store
.DS_Store
