fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-ollama
sentence-transformers
pymilvus
duckdb
pandas
jinja2
python-multipart
requests
beautifulsoup4
pytablewriter
prettytable